/*FONTS IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*STYLING*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #000000;
  --color-bg-variant: #52616b;
  --color-primary: #a1a1a1;
  --color-primary-variant: #6969694f;

  --color-white: #fff;
  --color-light: rgba(255, 255, 255.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes expand {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 200% 200%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  line-height: 1.7;
  background-color: var(--color-bg);
  background-image: linear-gradient(
      rgba(121, 121, 121, 0.1),
      rgba(121, 121, 121, 0.1)
    ),
    url('../src/assets/background-image.jpg');
  /* background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(218, 218, 218, 0.6) 15%,
    rgba(187, 187, 187, 0.5) 30%,
    rgba(131, 131, 131, 0.6) 55%,
    rgba(88, 88, 88, 0.65) 75%,
    rgba(0, 0, 0, 0.7) 100%
    ); */
  /* background: #000122; */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* animation: expand 20s infinite; */
}

/*=============== GENERAL STYLES =================*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}
section h2,
section h5 {
  text-align: center;
  color: var(--color-light);
}

section h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
  transition: var(--transition);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary:hover {
  color: var(--color-white);
  background: transparent;
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES e.g TABLETS) ============*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES e.g MOBILE PHONES) ============*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section h2 {
    margin-top: 2rem;
  }
}
