nav {
  background-color: rgba(71, 71, 71, 0.377);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
nav a {
  background-color: transparent;
  padding: 0.9rem;
  display: flex;
  border-radius: 50%;
  font-size: 1.1rem;
  color: var(--color-light);
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
